<section class="principal">
    <nav>
        <h1>Sora Sushi - Cardápio</h1>
        <ul>
            <li><a href="">MENU PRINCIPAL</a></li>
            <li><a href="">MENU EXECUTIVO</a></li>
            <li><a href="">SOBREMESAS</a></li>
            <li><a href="">BEBIDAS</a></li>
        </ul>
    </nav>
    <img class="sushis" src="/sushis.png" alt="sushis">
    <section class="alinhamento">

        <section class="menu">
            <div class="products">
                <img class="img-produtos" src="./principal.jpg" alt="">
                <div class="right">
                    <h3>Salmão Tartar</h3>
                    <p>Tartar de Salmão</p>
                </div>
            </div>
            <div class="products">
                <img class="img-produtos" src="./principal.jpg" alt="">
                <div class="right">
                    <h3>Salmão Tartar</h3>
                    <p>Tartar de Salmão</p>
                </div>
            </div>
            <div class="products">
                <img class="img-produtos" src="./principal.jpg" alt="">
                <div class="right">
                    <h3>Salmão Tartar</h3>
                    <p>Tartar de Salmão</p>
                </div>
            </div>
            <div class="products">
                <img class="img-produtos" src="./principal.jpg" alt="">
                <div class="right">
                    <h3>Salmão Tartar</h3>
                    <p>Tartar de Salmão</p>
                </div>
            </div>
            <div class="products">
                <img class="img-produtos" src="./principal.jpg" alt="">
                <div class="right">
                    <h3>Salmão Tartar</h3>
                    <p>Tartar de Salmão</p>
                </div>
            </div>
            <div class="products">
                <img class="img-produtos" src="./principal.jpg" alt="">
                <div class="right">
                    <h3>Salmão Tartar</h3>
                    <p>Tartar de Salmão</p>
                </div>
            </div>
            <div class="products">
                <img class="img-produtos" src="./principal.jpg" alt="">
                <div class="right">
                    <h3>Salmão Tartar</h3>
                    <p>Tartar de Salmão</p>
                </div>
            </div>
            <div class="products">
                <img class="img-produtos" src="./principal.jpg" alt="">
                <div class="right">
                    <h3>Salmão Tartar</h3>
                    <p>Tartar de Salmão</p>
                </div>
            </div>
            <div class="products">
                <img class="img-produtos" src="./principal.jpg" alt="">
                <div class="right">
                    <h3>Salmão Tartar</h3>
                    <p>Tartar de Salmão</p>
                </div>
            </div>
        </section>
        <a class="voltar" routerLink="/navbar">VOLTAR</a>
    </section>
</section>