<section>
    <div class="container">
        <div class="left">
            <h1>EVENTOS</h1>
            <h4 class="Text">O Sora Sushi é uma opção que une <br> arquitetura moderna com localização <br>
                privilegiada, nos charmosos bairros de <br> Itaim Bibi e Jardins (São Paulo).</h4>

            <h4>Em seu projeto
                arquitetônico <br> todos os espaços são integrados <br> e inspiram pelo design,
                a valorização <br> da luz natural e do verde, que <br> proporciona uma
                atmosfera delicada <br> e aconchegante.</h4>

            <h4 class="text2">Extremamente apropriado para a <br> realização de festividades, aniversários e <br> casamentos, o espaço Sora
                Sushi é ideal <br> para você!</h4>

            <a routerLink="/navbar">Voltar</a>
        </div>
        <div class="right">
            <img src="/sushiman.png" alt="">
        </div>

    </div>
</section>