<section>
    <div class="container">
        <div class="left">
            <h1>SOBRE NÓS</h1>
            <h4 class="Text">O Sora Sushi é um restaurante japonês <br> cuja proposta é conciliar a culinária
                <br>tradicional e contemporânea, sob
                o <br> comando do sushiman Allan Backmann.</h4>
            <h4>Com duas unidades em São Paulo, nos <br> bairros Itaim e Jardins, o espaço moderno <br> e confortável
                faz o cenário de
                uma <br> proposta quase intimista, em um projeto <br> assinado pelo arquiteto Naoki Otake.</h4>
            <a routerLink="/navbar">Voltar</a>
        </div>
        <div class="right">
            <img src="/cozinheiros.png" alt="">
        </div>

    </div>
</section>